@import 'assets/sass/variables';
@import 'assets/sass/application';

.cardList {
  width: 100%;
  max-width: $container-width;
  margin: $grid-large auto 0 auto;
  padding: 0;
  h1 {
    margin: 0 0 0 $grid-large;
    @media screen and (max-width: $bp-sm) {
      text-align: center;
      margin: 0;
    }
  }
  .listContainer {
    display: flex;
    width: 100%;
    max-width: $container-width;
    margin: $grid-base auto 0 auto;
    padding: 0 0 $grid-base 0;
    p {
      font-family: var(--font-open-sans);
    }
    h1,
    h3 {
      font-family: var(--font-bebas-neue);
      margin-bottom: 0;
    }
    .itemList {
      display: inline-flex;
      width: 100%;
      margin: 0;
      padding: $grid-tiny $grid-base $grid-base $grid-base;
      flex-wrap: wrap;
      li {
        display: flex;
        width: 16.66%;
        margin: 0;
        list-style-type: none;
        justify-content: center;
        @media screen and (max-width: $bp-md) {
          width: 24.95%;
        }
        @media screen and (max-width: $bp-sm) {
          width: 49.95%;
        }
        .itemCard {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 0 $grid-small $grid-base $grid-small;
          width: 100%;
          padding: $grid-base;
          text-align: center;
          border: solid 2px $background-color;
          border-radius: 10px;
          &:hover {
            border: solid 2px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            background-color: $color-white;
          }
          img {
            width: 100%;
            max-width: 200px;
          }
          .itemDetails {
            margin-top: auto;
            height: 100%;
            max-height: 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
          }
          .buttonContainer {
            margin-bottom: $grid-base;
          }
        }
      }
    }
  }
}
