$grid-tiny: 5px !default;
$grid-small: 10px !default;
$grid-base: 15px !default;
$grid-large: 30px !default;
$grid-giant: 50px !default;

$bp-xs: 480px;
$bp-sm: 767px;
$bp-md: 1024px;
$bp-lg: 1920px;
$bp-xlg: 2560px;

$none: 0 !default;
$border-thin: 1px !default;
$border-thick: 2px !default;

$offset-color: #eeeeee;
$medium-gray: #f7f8fc !default;
$smoke-bg: #f5f5f5 !default;
$transparent-bg: transparent !default;
$dark-gray: #9a9a9a !default;
$light-gray: #e5e5e5 !default;
$light-color: #eaeaea !default;
$background-color: $light-color;

$font-size-h1: 42px !default;
$font-size-h2: 34px !default;
$font-size-h3: 26px !default;
$font-size-h4: 20px !default;
$font-size-h5: 16px !default;
$font-size-h6: 12px !default;
$font-size-p: 16px !default;

$color-primary: #4e8ce1 !default;
$color-secondary: #222 !default;
$color-info: #4e8ce1;
$color-production: #d62b70;
$color-alert: #e44646;

$color-gray-primary: #adaeb0 !default;
$color-gray-normal: #dadada !default;
$color-orange: #e4ae46;
$color-red: #e44646;
$color-green: #85e446;
$color-yellow: #e4de46;
$color-purple: #e446db;
$color-blue: #4e8ce1;
$color-grey-blue: #8c96ab;
$color-disabled: rgba(0, 0, 0, 0.15);
$color-body: #222;
$color-black: #111;
$color-white: #fff;

$color-default-border: rgba(0, 0, 0, 0.25);

$border-primary: solid $border-thin $color-primary;
$border-dark-gray: solid $border-thin $dark-gray;
$border-black: solid $border-thin $color-black;
$border-btn: solid $border-thick $color-secondary;
$border-gray-primary: solid $border-thin $color-gray-primary;
$border-default: solid $border-thin $color-default-border;

$border-disabled: solid $border-thin $color-disabled;

$border-primary-thick: solid $border-thick $color-primary;
$border-dark-gray-thick: solid $border-thick $dark-gray;
$border-black-thick: solid $border-thick $color-black;
$border-btn-thick: solid $border-thick $color-secondary;
$border-gray-primary-thick: solid $border-thick $color-gray-primary;
$border-disabled-thick: solid $border-thick $color-disabled;

$box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.08);
$min-button-width: 85px;

$container-width: 1196px;