@import 'assets/sass/variables';
@import 'assets/sass/application';

.featuredItemContainer {
  display: flex;
  flex-direction: column;
  padding: $grid-giant $grid-large $grid-base $grid-large;
  margin-top: $grid-base;
  @media screen and (max-width: $bp-xs) {
    padding: 0;
    margin-top: $grid-large;
  }
  .featuredItem {
    width: 100%;
    margin: 0 auto 0 auto;
    max-width: $container-width;
    h1 {
      margin: 0 0 0 $grid-large;
      @media screen and (max-width: $bp-sm) {
        text-align: center;
        margin: 0;
      }
    }
    .featuredItemInfo {
      display: flex;
      padding: 0 $grid-large $grid-large $grid-large;
      border-bottom: $border-disabled;
      align-items: center;
      @media screen and (max-width: $bp-sm) {
        flex-direction: column;
      }
      @media screen and (max-width: $bp-xs) {
        padding: $grid-large;
      }
      .itemDetails {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $bp-sm) {
          width: 100%;
          align-items: center;
        }
        h3 {
          margin: 0;
        }
        .buttonContainer {
          button {
            margin-right: $grid-small !important;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .itemThumbnail {
        display: flex;
        flex-direction: column;
        margin-right: $grid-giant;
        @media screen and (max-width: $bp-sm) {
          width: 100%;
          margin-right: 0;
          align-items: center;
        }
        img {
          width: 100%;
          max-width: 200px;
        }
      }
    }
  }
}

.menusList {
  padding: 0 $grid-large 0 $grid-large;
  @media screen and (max-width: $bp-xs) {
    padding: 0;
  }
}

.warningContainer {
  padding: $grid-giant;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  p {
    font-family: var(--font-open-sans);
    margin-bottom: 0;
  }
  h1,
  h3 {
    font-family: var(--font-bebas-neue);
    margin-bottom: 0;
  }
}
