@import 'assets/sass/variables';

.numberInput {
  display: flex;
  button {
    min-width: 40px;
    max-width: 40px;
    width: 40px;
    border-radius: 25px;
  }
  .inputContainer {
    max-width: 40px;
    margin: 0 $grid-base 0 $grid-base;
    input {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
