@import 'assets/sass/variables';
@import 'assets/sass/application';

:root {
  --primary-color: #4e8ce1;
  --primary-color-contrast: #ffffff;
  --secondary-color: #222222;
  --secondary-color-contrast: #ffffff;
  --header-background-color: #fafafa;
  --header-foreground-color: #222222;
  --footer-background-color: #fafafa;
  --footer-foreground-color: #222222;
  --text-color: #222222;
  --headline-text-color: #222222;
}

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  font-family: var(--font-open-sans);
  background-color: $background-color;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline-text-color) !important;
  font-family: var(--font-bebas-neue);
  margin: 0 0 $grid-base 0;
  @media screen and (max-width: $bp-md) {
    margin: 0 0 $grid-small 0;
  }
  @media screen and (max-width: $bp-xs) {
    margin: 0 0 $grid-tiny 0;
  }
}
h1,
h2 {
  font-weight: bold;
}
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: $font-size-h1;
  line-height: calc(#{$font-size-h1} + 10px);
  letter-spacing: 1px;
  @media screen and (max-width: $bp-md) {
    font-size: calc(#{$font-size-h1} - 5px);
    line-height: calc(#{$font-size-h1} - 5px + 10px);
  }
  @media screen and (max-width: $bp-sm) {
    font-size: calc(#{$font-size-h1} - 10px);
    line-height: calc(#{$font-size-h1} - 10px + 10px);
  }
}
h2 {
  font-size: $font-size-h2;
  @media screen and (max-width: $bp-md) {
    font-size: calc(#{$font-size-h2} - 5px);
    line-height: calc(#{$font-size-h2} - 5px + 10px);
  }
  @media screen and (max-width: $bp-sm) {
    font-size: calc(#{$font-size-h2} - 10px);
    line-height: calc(#{$font-size-h2} - 10px + 10px);
  }
}
h3 {
  font-size: $font-size-h3;
  @media screen and (max-width: $bp-md) {
    font-size: calc(#{$font-size-h3} - 5px);
    line-height: calc(#{$font-size-h3} - 5px + 10px);
  }
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}
p {
  font-size: $font-size-p;
  line-height: 28px;
  margin: 0 0 $grid-base 0;
  @media screen and (max-width: $bp-sm) {
    font-size: calc(#{$font-size-p} - 2px);
    line-height: calc(#{$font-size-p} - 2px + 10px);
  }
}
.MuiDivider-root {
  border-color: rgba(0, 0, 0, 0.2) !important;
  margin-top: $grid-base !important;
  margin-bottom: $grid-base !important;
}
.MuiInputBase-root.MuiInput-root::before,
.MuiInputBase-root.MuiInput-root::after {
  border-bottom: none !important;
}
.MuiInput-root.MuiInput-underline {
  border: $border-disabled !important;
}
.MuiDialog-paper {
  max-width: unset !important;
}
.MuiDialogContent-root {
  scrollbar-width: thin;
}
