@import 'assets/sass/variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #282828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
}
h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }
h1 {
  font-size: $font-size-h1;
  line-height: calc(#{$font-size-h1} + 10px);
  @media screen and (max-width: $bp-md) {
    font-size: calc(#{$font-size-h1} - 5px);
    line-height: calc(#{$font-size-h1} - 5px + 10px);
  }
  @media screen and (max-width: $bp-sm) {
    font-size: calc(#{$font-size-h1} - 10px);
    line-height: calc(#{$font-size-h1} - 10px + 10px);
  }
}
h2 {
  font-size: $font-size-h2;
  @media screen and (max-width: $bp-md) {
    font-size: calc(#{$font-size-h2} - 5px);
    line-height: calc(#{$font-size-h2} - 5px + 10px);
  }
  @media screen and (max-width: $bp-sm) {
    font-size: calc(#{$font-size-h2} - 10px);
    line-height: calc(#{$font-size-h2} - 10px + 10px);
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: $grid-base 0 $grid-tiny 0;
  font-family: 'Oswald', sans-serif;
}
p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
.MuiDivider-root {
  border-color: rgba(0, 0, 0, 0.2);
  margin-top: $grid-base !important;
  margin-bottom: $grid-base !important;
}