@import 'assets/sass/variables';
@import 'assets/sass/application';

.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: $header-height;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  background-color: $background-color;
  @media screen and (max-width: $bp-sm) {
    min-height: calc(100vh - #{$header-tablet-height});
    padding-top: $header-tablet-height;
  }
  @media screen and (max-width: $bp-xs) {
    min-height: calc(100vh - #{$header-height});
    padding-bottom: $mobile-nav-height;
    padding-top: $header-height;
  }
}

.loadingContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    margin: 0;
  }
}