@import 'assets/sass/variables';

$dialogActionButtonWidth: $min-button-width;

.dialogContent {
  padding: $grid-large !important;
}
.dialogActions {
  padding: $grid-base $grid-large $grid-large $grid-large;
}
.dialogActionButton {
  margin-right: $grid-small;
  min-width: $dialogActionButtonWidth;
  &:last-child {
    margin-right: 0;
  }
}
.dialogTitle {
  background-color: var(--primary-color) !important;
  color: var(--primary-color-contrast) !important;
}
.dialogTitleActions {
  margin-left: auto;
}
.dialogTitleContent {
  display: flex;
}
.dialogTitleText {
  display: flex;
  align-items: center;
  margin-right: $grid-base;
}
.grubDialogContainer {
  display: flex;
  height: 100%;
}
